@font-face {
    font-family: 'MADE Canvas';
    src: url('https://github.com/jorismx/fonts/blob/main/MADECanvas-Black.ttf?raw=true') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MADE Canvas';
    src: url('https://github.com/jorismx/fonts/blob/main/MADECanvas-Light.ttf?raw=true') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MADE Canvas';
    src: url('https://github.com/jorismx/fonts/blob/main/MADECanvas.ttf?raw=true') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

